@import "./modules/theme-var";

html, body {
	height: initial;
	min-height: 100%;
}

body.login {
	background-image: theme('login.bg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;

	&:before {
		background-color: theme('colors.black');
		content: "";
		height: 100%;
		left: 0;
		opacity: 0.4;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -100;
	}
}

.login h1.wp-login-logo {
	width: 100%;

	a {
		background-image: theme('login.logo');
		background-size: contain;
		width: 100%;
   }
}

.login #nav a, .login #backtoblog a {
	color: theme('colors.white');
}

.login #nav a:hover { 
		text-decoration: underline;
}

#login {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

img {
	height: auto;
	max-width: 100%;
}
