<wa-page mobile-breakpoint="920" view="desktop" navigation-placement="start" disable-navigation-toggle="" style="--header-height: 71px; --subheader-height: 55px; --banner-height: 38.390625px; --footer-height: 227.984375px;">
	<header slot="header"><!-- wp:template-part {"slug":"header"} /--></header>

	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
	<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
		<!-- wp:pattern {"slug":"twentytwentyfive/hidden-404"} /-->
	</main>
	<!-- /wp:group -->

	<footer slot="footer" class="wa-grid wa-gap-xl"><!-- wp:template-part {"slug":"footer"} /--></footer>
</wa-page>