<wa-page mobile-breakpoint="920" view="desktop" navigation-placement="start" disable-navigation-toggle="" style="--header-height: 71px; --subheader-height: 55px; --banner-height: 38.390625px; --footer-height: 227.984375px;">
	<header slot="header"><!-- wp:template-part {"slug":"header"} /--></header>

	<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
	<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
		<!-- wp:pattern {"slug":"twentytwentyfive/hidden-blog-heading"} /-->
		<!-- wp:pattern {"slug":"twentytwentyfive/template-query-loop"} /-->
	</main>
	<!-- /wp:group -->

	<footer slot="footer" class="wa-grid wa-gap-xl"><!-- wp:template-part {"slug":"footer"} /--></footer>
</wa-page>